html {
    box-sizing: border-box;
} 

* {
    box-sizing: inherit;
} 

h1{
    text-align: center;
    font-size: 45px;
    font-family: 'Courgette', cursive, Georgia, serif;
    text-shadow: .8px .8px 1px #000;
}
header {
    background: #4c7644;
    color: #fff;
    font-size: 18px;
    padding-left: 1.6rem;
    padding-right: .8rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, serif;
}

a {
    text-decoration: none;
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin: 0;
    margin-left: 1rem;
    padding: .8rem;
}

#banner {
    color: #fff;
    text-shadow: 0.5px 0.5px 0.8px #262626;
    background-image: url("../graphics/homepage_banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 1.8rem;
    padding-bottom: 8.5rem;
    margin: 0;
    font-family: Georgia, serif;
    font-size: 32px;
    text-align: center;
}

body {
    color: #000;
    font-family: Georgia, serif;
    max-width: 100%;
}

article {
    background: #fff;
    font-size: 21px;
    line-height: 2.1rem;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 25px;
    padding: 1.5rem 14rem;
    max-width: 80ch; /* Makes sure text lines dont exceed 80 characters */
}

.genres {
    display: inline-block; /* Ensures the images are displayed in the even-spaced block*/
    margin: 2rem;
    padding-bottom: 10rem;
    border: 3px solid #4c7644; /* Color of the border */
}

.graphic {
    height: 200px;
    width: 200px;
}

.caption {
    position: absolute;
    color: rgb(5, 5, 5);
    padding: 10px;
    text-align: left;
    width: 200px;
    font-size: 19px;
}

footer {
    background: #4c7644;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    color: #fff;
    font-size: 18px;
}

footer a {
    text-decoration: underline;
}


/* Media query */
@media screen and (max-width: 600px) {

    h1{
        font-size: 38px;
    }
   
    header {
        padding: 0.4rem;
        padding-left: 0.8rem; 
        margin: 0.5rem;
    }

    nav ul {
        flex-direction: column; 
        align-items: center; 
        text-align: right;
        font-size: 16px;
    }

    nav ul li {
        margin-bottom: 0.2rem; 
    }

    a {
        text-decoration:underline
    }

    #banner {
        padding: 0.8rem; 
        font-size: 14px; 
        background-image:none; 
        background-color: #C0B4A0;
        color: #fff;
        margin: 0.5rem;
    }

    article {
        padding: 1.8rem; 
        max-width: 100%; 
    }

    .genres {
        margin: 1rem; 
        padding-bottom: 5rem; 
    }

    .graphic {
        height: auto; 
        width: 100%; 
    }

    .caption {
        width: 100%; 
        position: inherit;
    }

    footer {
        padding: 1rem; 
        margin: 1rem; 
    }
}

